<div class="card container">
    <div class="card-body">
      <div class="fw-bold">¿Qué es Text To Speack?</div>
      <div class="mt-2">
        Text-to-Speech (TTS) es una tecnología que convierte texto escrito en voz hablada. Aquí tienes algunos puntos clave:<br>
        • Conversión de Texto: TTS toma texto de documentos, páginas web o aplicaciones y lo lee en voz alta.<br>
        • Accesibilidad: Es útil para personas con discapacidades visuales o para aquellos que prefieren escuchar en lugar de leer.<br>
        • Aplicaciones: Se utiliza en dispositivos GPS, asistentes virtuales y aplicaciones educativas.<br>
        • Personalización: Algunos sistemas TTS permiten elegir entre diferentes voces y acentos.<br>
      </div>
    </div>
  </div>
