<div class="card container">
    <div class="card-body">
        <div class="fw-bold">¿Qué es un clasificador?</div>
        <div class="mt-2">
            En Inteligencia Artificial (IA), un clasificador es un algoritmo que asigna etiquetas o categorías a conjuntos de datos basándose en patrones y características aprendidas. Aquí tienes algunos puntos clave<br>
            • Asignación de Etiquetas: Identifica y clasifica datos en categorías predefinidas.<br>
            • Aprendizaje Automático: Utiliza datos de entrenamiento para aprender y mejorar su precisión.<br>
            • Tipos Comunes: Incluye regresión logística, árboles de decisión y máquinas de vectores de soporte.<br>
            • Aplicaciones: Desde reconocimiento de imágenes hasta filtrado de spam.
        </div>
    </div>
  </div>