<section class="section hero " aria-label="hero" id="home">
  <div class="container row">
    <div class="col-md-6 hero-content">
      <h1 class="h1 hero-title">AI 593 Code Simple, Effective, Powerful</h1>
      <p class="section-text">
        Nuestro sistema inteligente aprovecha la IA para optimizar la entrega, la orientación y el rendimiento de los anuncios en tiempo real, garantizando los mejores resultados para sus campañas publicitarias. Descubra hoy el poder de la publicidad en vídeo basada en IA.
      </p>
    </div>
    <div class="col-md-6 hero-banner">
      <img src="../../../assets/images/bannerIA.png" alt="hero banner" class="imgStyle" />
    </div>
  </div>
</section>